<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1352675" android:versionName="0.0.1.1508352675" package="com.seansparkman.HelloWorld">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="HelloWorld"></application>
</manifest>